:root {
  font-size: 16px;
}

#root {
  min-height: 100dvh;
  min-width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
  background-color: hsl(var(--background));
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

body {
  margin: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
  min-width: 375px;
  font-size: 14px;
  touch-action: manipulation;
  pointer-events: auto !important;
}

.infinite-scroll {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.item:last-child {
  border-bottom: none;
}

#waveform ::part(cursor) {
  height: 14px !important;
  top: 35%;
  border-radius: 7px;
  background-color: black;
}

* {
  transition: background-color 0.1s ease-in;
}

body.dragging {
  cursor: grabbing !important;
}

.advanced-cropper-handler-wrapper {
  display: none;
}

.advanced-cropper-rectangle-stencil {
  box-shadow: 0 0 0 200px black;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
  outline: none;
}

.loader {
  height: 4px;
  width: 100%;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}

/* HTML:  */
.dots {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, transparent);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}


*:focus-visible {
  outline: 2px solid yellow;
  outline-offset: 2px;
}

